* {
    box-sizing: border-box;
}


.page-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box-container {
    width: 70%;
    aspect-ratio: 1/1;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: beige;
    
}

.box {
 background-color: #04005e;
 aspect-ratio: 1/1;
}